@font-face {
    font-family: 'Erbar';
    src: url('URW Erbar/erbar-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'AuxMono';
    src: url('AuxMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


:root{
    --main-bg: #f7f7e9;
    --elevated-bg: #fffff8;
    --interactable-bg: white;
    --border: #a1a19a;
    --text-color: #393935;
}
html{
    background-color: var(--main-bg);
}

.navbar{
    width: 100%;
    background-color: var(--elevated-bg);
    height: 80px;
    top:0px;
    left:0px;

    position: absolute;
    margin: 0 auto;
    border-bottom: var(--border) solid 3px;
    display: flex;
    
    align-items: center;
    justify-content: normal;
}



.navbar-section{
    background-color: transparent;
    height: 100%;
    line-height: 100%;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    border-right:var(--border) solid 3px;
}

.calendar{
   min-width: 160px;
   width:160px;
   max-width: 160px;
    border-right: none;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding: 0;
    row-gap: 10px;
}

.innerCal{
    font-family: 'AuxMono';
    font-size: 20px;
    background-color: #fffff8;
    width:100%;
    text-align: center;
    padding-block: 0px;
    opacity: 1;
    z-index: 1;
}

.calendar::before{
    content: "";
    width:100%;
    height:100%;
    left:0px;
    background-image: url(looper.png);
    background-size: 5px;
    filter: opacity(0.2);
    position:absolute;
}
.blank{
    width: 6%;
    background-color: transparent;
    position: relative;
    
}
.stripes::after{
    content: "";
    width:100%;
    height:100%;
    left:0px;
    background-image: url(looper.png);
    background-size: 5px;
    filter: opacity(0.2);
    position:absolute;
}

#nav-options{
    min-width: 800px;
    
    width: 1300px;
    display: flex;
    flex-direction: row;
    flex-grow: 1 ;
    
}

.inner-nav{
   margin: auto;
   margin-top: auto;
   position: relative;
    width:calc(100% - 20px);
    height: calc(100% - 20px);

    border-radius: 10px;
    
    background-color: rgba(0, 0, 0, 0.06);
    margin-right: 10px;
    margin-left: 10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding-left: 0px;

    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 30px;

    background-image: url(track.png);
    background-size: 60px;
    background-size: 2.5em;
    
    background-position-y: center;
    background-repeat: repeat-x;
    
    /* clip-path: inset(0% 0% -10000% 0% round 10px); */
    clip-path: path('M 9.9994289,0 H 10000 V 600 H 0 V 60 H 9.9994289 C 4.4597434,60 0,55.539682 0,50 V 10 C 0,4.4603182 4.4597434,0 9.9994289,0 Z')
}

.nav-item{
    color: black;
    
    padding: 5px;
    
    padding-inline: 30px;
    
    background-color: transparent;
    box-sizing: border-box;
    

    position:relative;
    
    height:100%;
    display: flex;
    align-items: center;

    font-family: "Erbar";
    font-weight: 500;
    padding-top:6px;
}


.nav-item.nav-right{
    align-self: flex-end;
    margin-left: auto;
    z-index: 101;
}


#nav-dropdown-more{
    z-index: 10000;

}

#nav-dropdown-more:before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.0);
    width:100%;
    height:2px;
    top:40px;
    left:0px;

    transition: all 0.25s cubic-bezier(.22,.61,.36,1);
}
#nav-dropdown-more.should-open::before{
    content: "";
    position: absolute;
    background-color: var(--border);
    width:100%;
    height:3px;
    top:60px;
    left:0px;
    opacity: 0.6;
}

#nav-dropdown-more .nav-dropdown-children{
    position: absolute;
    top:0px;
    opacity: 0;
    
    top:1.6em;
    width: 207px;
    left:0px;
    text-align: center;
    box-sizing: border-box;
    font-size: 25px;
    
}

#nav-dropdown-more.should-open .nav-dropdown-children{
    opacity: 1;
    transition: top 0.2s ease, opacity 0.5s ease
}

#nav-dropdown-more.should-open .nav-dropdown-children:nth-child(2){
    
    top:3.3em
}
#nav-dropdown-more.should-open .nav-dropdown-children:nth-child(3){
   
    top:5.0em
}

#nav-dropdown-more.should-open .nav-dropdown-children:nth-child(4){
   
    top:6.8em
}

#nav-dropdown-more.should-open .nav-dropdown-children:nth-child(5){
   
    top:8.6em
}

#nav-dropdown-more.should-open .nav-dropdown-children:hover::before{
    background-color: #0072b0;
    content: "";
    width:195px;
    height:1.8em;
    left:6px;
    top:-13px;
    border-radius: 6px;
    position: absolute;
    z-index: -1;
    
}

#nav-dropdown-more.should-open .nav-dropdown-children:hover{
    color:white;
}


#selector{
    width: 200px;
    height:100%;
    position: absolute;
    top:0px;
    left:-200px;
    border-radius: inherit;
    box-sizing: border-box;
    border: #025a89 3px solid;
    z-index: 0;
    padding-inline: 20px;
    transition: all 0.3s cubic-bezier(.22,.61,.36,1);
    background-color: transparent;
    z-index: 10;
    backdrop-filter: invert(1);
    pointer-events: none;
}

#selector.selectorOpen{
    /* background-color: red; */
    height: 254px;
    z-index: 100;
    top:0px;
}

#selectortwo.selectorOpen{
    height: 254px;
    top:0px;
    z-index: 99;
}

#selectortwo{
    top:0px;
    width: 200px;
    height:100%;
    position: absolute;
    left:-200px;
    border-radius: inherit;
    box-sizing: border-box;
    border: transparent 3px solid;
    overflow: hidden;
    
    padding-inline: 20px;
    transition: all 0.3s cubic-bezier(.22,.61,.36,1);
    background-color: rgba(255, calc(255 - 114), calc(255 - 176));
    z-index: 0;
    
    
    pointer-events: none;
}

#logoimg{
    max-height:100%;
}
#logo{
    padding-right: 0px;
    margin-right: 0px;
}

.main-body{
    
    display: flex;
    
    margin:auto;
    flex-wrap: wrap;
    margin-top:80px;
    width: calc(100% - 32px);
    max-width: 1100px;
}   


.station{
    font-family: 'Erbar';
    font-size: 63px;
    color:white;
    
    align-items: center;
    margin:auto;
    margin-right: 0px;
    margin-left:0px;
    position: relative;
    top: -3px;
}

.header-container{
    margin-top: 20px;
    width:100%;
    background-color: #00b06d;
    border-radius: 10px;
    padding: 10px;
    display:flex;
    padding-right: 0px;
    transition:  all 0.1s ease;
    
    
    
}

.stationContainer{
    height:calc(100% + 20px);
    display: flex;
    margin-left:20px;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding-right:15px;
    position: relative;
    top:-10px;
    border-right: #008451 solid 3px;
}

.subStation{
    font-family: 'Erbar';
    font-style: italic;
    font-size: 23px;
    color:rgba(255,255,255,0.86);
    display: inline-flex;
    
}
.subStation:hover{

    color:rgba(255,255,255,1);
    text-decoration: underline;
}


.before::before{
    content:'';
    background-image: url(Left_arrow.svg);
    background-size: cover;
    filter:invert();
    height:20px;
    width:24px;
    top:3px;
    right:5px;
    position: relative;

}


.after::before{
    content:'';
    background-image: url(Left_arrow.svg);
    background-size: cover;
    filter:invert();
    height:20px;
    width:24px;
    top:3px;
    right:5px;
    transform: scaleX(-1);

    position: relative;

}

.space-filler{

    
    
    flex:1;

    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
    position:relative;
    
    display: flex;
    align-items:center;
    justify-content: right;
    
}

.addressContainer{
    padding-right: 15px;
    font-family: 'AuxMono';
    font-size: 15px;
    text-align: right;
    color:white;
}

.departure{
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: 75% 25%;
    margin-top: 20px;
    gap: 20px;
}

@media (min-width: 2000px) {
    .departure{
        grid-template-columns: 80% 20%;
    }
}
.departureHeader{
    background-color: #fffff8;
    font-family: 'Erbar';
    
    font-size: 50px;
    width:100%;

    border: var(--border) 3px solid;
    padding:10px;
    border-bottom: none;
    text-align: center;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.departureFooter{
    
    border: var(--border) 3px solid;
    border-top: none;
    height:15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
    background-color: #fffff8;
}
.chipContainer{
    width:100%;
    background-color: black;
    height:60px;
    top:-10px;
    position: relative;
    z-index:-1;
}

.depContainer{
    width:100%;
    display:grid;
}

.singleDigit{
    background-color: #2b2b28;
    font-size: 23px;
    
    padding:2px;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 3px black;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    transition: all 2s ease-in-out;

    
}

.singleDigit:active{
    pointer-events: none;
}

.singleDigit:hover{
    background-color: #575752;
    
    transition: all 0.1s ease-in-out;
}
.singleDep{
    background-color: #393935;
    width:100%;
    color:white;
    box-sizing: border-box;
    padding:10px;
    margin-top: 10px;
    
    font-family: 'AuxMono';
    display:table-row;
    transition: all 0.2s ease-in-out;
}




.singleDep:hover{
    background-color: #4a4a45;
    
}

.singleDep.rowSelected{
    background-color: #393935;
    border-bottom: var(--border) 3px solid;
    transition: all 0.2s ease-in-out;
}

.singleDep.rowUnselected{
    filter: brightness(0.8) opacity(0.8);
    transition: all 0.2s ease-in-out;
}

.status-boarding{
    color: #00b06d;
}
.status-late{
    color: #f4e00a;
}
.status-early{
    color: #0ad5f4;
}
.status-departed{
    color: #f40a0a;
}

.depField{
    display:flex;
    flex-direction: row;
    gap:3px;
    align-items: center;
    justify-content: center;
    
}

.depField:active{
    pointer-events: none;
}

.top-row{
    background-color: #54544e;
    font-family: "Erbar";
    color: white;
    font-size: 25px;
    border:none;
}

.depContainer{
    display: table;
    
    padding: 10px;
    
    border-collapse: collapse;
    
}

.depContainer td{
    padding-inline: 5px;
    align-items: center;
    text-align: center;
}

.infocontainer{
    width:100%;
}

.filtering{
    height:100%;
    max-height: 600px;
    background-color: #fffff8;
    
    width:100%;

    border: var(--border) 3px solid;
    padding:10px;
    
    top: 15px;

    text-align: center;
    box-sizing: border-box;

    position: sticky;
    border-radius: 10px;
    overflow: hidden;
}

.filtering-header{
    font-family: 'Erbar';
    
    font-size: 50px;
    width:calc(100% + 20px);
    left:-10px;
    position: relative;
    padding-bottom: 6px;
    top:-3px;
    border-bottom:  var(--border) 3px solid;
}

.filtering-box{
    font-family: 'Erbar';
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
}

.filtering-type:nth-child(1){
    padding-top: 10px;
}

.filtering-type{
    height:max-content;
    width: calc(100% + 20px);
    position: relative;
    text-align: left;
    
    padding-left: 10px;
    opacity:1;
    
    left:-10px;
    padding-top: 20px;
    padding-bottom: 3px;
   
}


.filtering-element{
    font-family: 'Erbar';
    font-style: normal;
    font-weight: normal;
    
}

.dropdown{
    width:100%;
    box-sizing: border-box;
    padding:5px;
    margin-top: 5px;
    border-radius: 10px;
    border: var(--border) 2px solid;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.06);
    min-height: 52px;

    
}


#inner-dropdown{
    /* top:3px; */
    /* line-height: 100%; */
    vertical-align: middle;
    height: 100%;
    position: relative;
}

.dropdown:before{
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.0);
    width:100%;
    height:2px;
    top:40px;
    left:0px;

    transition: all 0.25s cubic-bezier(.22,.61,.36,1);
}
.dropdown:hover::before{
    content: "";
    position: absolute;
    background-color: var(--border);
    width:100%;
    height:2px;
    top:47px;
    left:0px;
}

.textarea{
    width:100%;
    box-sizing: border-box;
    padding:5px;
    margin-top: 5px;
    border-radius: 10px;
    border: var(--border) 2px solid;
    justify-content: center;
    position: relative;
    background-color: rgba(0, 0, 0, 0.06);
    font-family: 'Erbar';
    font-size: 20px;
}

.textarea:focus{
    outline: none;
    border: #4b4b48 2px solid
}

.indicator{
    top:8.5px;
    vertical-align: middle;
    right:0px;
    position: absolute;
    padding-right:10px;
    transition: all 0.5s ease-in-out;
    transform-origin: calc(50% - 5px) center
}

.dropdown:hover .indicator{
    transform: rotate(-90deg);   
}


.dropdown-content{
    visibility: hidden;
    opacity: 1;
    height: 0px;
    
    transform: rotateX(90deg);
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 0.15s cubic-bezier(.22,.61,.36,1);
    padding-top:0px;
}

.dropdown-content:nth-child(3){
    transition-delay: 0s;
}

.dropdown-content:nth-child(4){
    transition-delay: 0.05s;
}
.dropdown-content:nth-child(5){
    transition-delay: 0.1s;
}
.dropdown-content:nth-child(6){
    transition-delay: 0.15s;
}

.dropdown:hover .dropdown-content{
    visibility: visible;
    opacity: 1;
    height: 40px;
    padding-top:3px;
    transform: rotateX(0deg);
}


.dropdown:hover .dropdown-content:nth-child(3){
    margin-top: 13px;
}








.dropdown-content:hover{
    transition-delay: 0s;
    color:white;
    background-color: #0072b0;

    
    white-space: nowrap;
    
}

.dropdown-content.selected{
    color:#0072b0;
    border: #0072b0 2px solid;
}
.dropdown-content.selected:hover{
    color:#0072b0;
    background-color: #dcdcd6;
    
}

.auto-container{
    padding-top: 3px;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all 0.2s ease-in-out;
    height:0px;

    font-family: "erbar";
    
}

/* WIDGET AREA */
.widget-autocontainer{
    font-size: 25px;

}

.widget-autocontainer .completeDropDown{
    padding-left: auto;
    text-align: center;
    padding:5px;
}

.widget-autocomplete{
    font-size: 30px;
    
}

.widget-textarea{
    font-size: 30px;
}

.textarea:focus + .auto-container,
.auto-container:focus-within{
    transform: scale(1, 1);
    height: 100%;
}

.completeDropDown{
    border: var(--border) 3px solid;
    border-bottom: none;
    padding-top: 4px;
    background-color: #fffff8;
}

.completeDropDown:nth-child(1){
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.completeDropDown:hover{
    background-color: #f6f6ef;
}

.completeDropDown.selected{
    background-color: #e0e0d5;
}

.auto-container > .completeDropDown + .completeDropDown {
    border-top: #e0e0d5 3px solid;
}


.textarea_single{
    
    box-sizing: border-box;
    padding:5px;
    
    border-radius: 10px;
    border: var(--border) 2px solid;
    justify-content: center;
    position: relative;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.06);
    font-family: 'Erbar';
    font-size: 20px;

    margin-inline: 2px;
    
}

.textarea_single:focus{
    border: #0072b0 2px solid;
    outline: none;
}

.number-container:focus-within{
    border: #0072b0 3px solid;
}

.number-container{
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    
    box-sizing: border-box;
    width:100%;
    padding:4px;
    border-radius: 10px;
        
    border: var(--border) 3px solid;
}

.time-slider{
    width:100%;
    height:8px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100px;

    position: relative;
    
}

.time-handle{
  
    height: 18px;
    width: 10px;
    position: absolute;
    background-color: var(--border);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    z-index: 2;

    
    transition: box-shadow 0.2s ease-in-out, height 0.2s ease-in-out
}

.time-handle:hover{
    height:25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.time-handle.heldDown{
    height:25px;
    background-color: #7e7e77;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.time-handle-right{
    right:0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 10px;
}

.selectedSegment{
    position:absolute;
    left:10px;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: #0072b0;
}

.time-display{
    position:relative;
    top:25px;
    font-family: 'AuxMono';
    font-size: 20px;
    white-space: nowrap;

    color: var(--border);
    border: var(--border) 2px solid;
    padding: 5px;
    top:0px;
    background-color: #fffff8;
    filter: none;

    transition: all ease-in-out 0.5s;
}

.time-display.heldDown{
    color:black;
}

#time-display-container{
    left: -10px;

    top:30px;
    position: absolute;
    width:calc(100% + 20px);
    display:flex;   
    justify-content: space-between;
}

#time-display-container::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background-image: url(looper.png);
    background-size: 5px;
    opacity: 0.24;
}
#time-display-left{
    left:-2px;
    padding-right: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#time-display-right{
    right:-2px;

    padding-left: 10px;
    padding-right: 11px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#train-count{
    font-family: 'AuxMono';
    font-size: 15px;
    margin-top:5px;
    
    z-index: 3;
    
}

#trains-beeg{
    
    font-size: 25px;
    background-color: #fffff8;
    padding-right: 5px;
    border-radius: 6px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
}

#train-back{
    background-color: #fffff8;
    border-radius: 6px;
    white-space: nowrap;
    padding-inline: 6px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
}


.time-selector-container{
    margin-top:6px;
}

.line-container{
    width:100%;
    height:0px;
    top:0px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(.22,.61,.36,1);
    will-change: height;
}   

.line-container.opened{
    padding-bottom: 20px;
    height:240px;
    
}



.inner-line{
    height:100%;
    width:100%;
    box-sizing: border-box;
    background-color: #fffff8;
    border: var(--border) 3px solid;
    border-radius: 10px;
    
}

.graph-holder{
    overflow-x: scroll;
    overflow-y:hidden;
    height: max-content;
    scrollbar-width: none;
    
    
}

#graph-container{
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    padding:50px;
    padding-top: 10px;
    position: relative;

    
}




.line-circle{
    width: 25px;
    min-width: 25px;
    aspect-ratio: 1/1;
    background-color: #0085cd;
    border-radius: 100%;
    display: inline-block;
    z-index: 3;
    position: relative;

    outline: #fffff8 0px solid;

    transition: all 0.1s ease;
    
}

.line-line{
    background-color: #0072b0;
    width: 95px;
    height: 15px;
    display: inline-block;
    
    z-index: 1;
    position: relative;
}

.line-line::after{
    position: absolute;
    content: "";
    width: 110px;
    background-color: #0072b0;
    height:15px;
    left: -5px;
}   

.line-circle::after{
    content: attr(data-stop);
    position: absolute;
    font-family: 'Erbar';
    font-size: 20px;
    top:30px;
    text-align: center;
    color: var(--border);
    
    
    transition: all 0.1s ease;

    transform: translate( calc(-50% + 12px)) ;
}

.line-circle:hover{
    outline: #fffff8 5px solid;
}


.line-circle::before{
    content: "";
    position: absolute;
    width:80px;
    height:80px;
    background-color: transparent;
    transform: translate( calc(-50% + 12px)) ;
}
.line-circle:hover::after{
    text-decoration: underline;
    top: 40px;
    font-size: 30px;
    color:black;
    background-color: #fffff8;
    z-index: 30;
    
}

#info-box{
    width:100%;
    height:150px;
    display: flex;
}

#train-box{
    height:100%;
    width:300px;
    /* background-color: black; */
    background-image: url(trainTest.png);
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: darken;
    background-position: -500px 0px;
    transition: all ease 0.9s;
    filter: blur(5px);
}

.line-container.opened .inner-line #info-box #train-box{
    background-position: 0px 0px;
    filter: blur(0px);
}

#mini-info-container{
    /* background-color: transparent; */
    flex: 1;
    height:100%;
    display: flex;
    z-index: 0;
}

#line-header{
    font-family: "Erbar";
    font-size: 36px;
    text-align: center;
    width:max-content;
    align-items: center;
    padding:10px;
    position: relative;
}
#line-header::after{
    
    content: '';
    background-color: var(--border);
    height: 65%;
    width:3px;
    right:-13px;
    top: 10%;
    border-radius: 10px;
    position: absolute;
}

#arrowTo{
    
    background-image: url(Left_arrow.svg);
    background-size: cover;
    /* filter:invert(); */
    height:20px;
    width:24px;
    top:3px;
    right:5px;
    left:30px;
    transform: rotate(-90deg);
    position: relative;
}

#main-info-container{
    background-color: transparent;
    width:100%;
    margin-left: 30px;
    height:100%;
    justify-content: center;
}

#tags-container{
    background-color: transparent;
    vertical-align: center;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    gap:10px;

}

.tag{
    background-color: rgba(0, 0, 0, 0.06);
    padding:3px;
    border-radius: 6px;
    white-space: nowrap;
    width:max-content;
    font-family: "auxmono";
    /* border: var(--border) 2px solid; */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
    transition: 0.1s;
}

.tag:hover{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

#daysRunningContainer{
    /* background-color: red; */
    width:100%;
    height:90px;
    
    padding:10px;
    padding-left: 0px;
    box-sizing: border-box;
}

#daysRunningInner{
    
    width:100%;
    height:100%;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    gap:4px;
    padding:5px;
    box-sizing: border-box;
}

.day{
    
    flex: 1;
    border-radius: 7px;
    background-color: #00b06d;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    box-sizing: border-box;
    vertical-align: middle;
    padding-top:5px;
    transition: 0.1s ease;
}

.day:hover{
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.3);
}

.day-not{
    background-image: url(looper.png);
    background-size: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

.day-header{
    font-family: "auxmono";
    text-align: center;
    top:5px;
    width:100%;
    height:100%;
    color:white
}
.day-not .day-header{
    color: rgba(255, 255, 255, 0.7);
}

.footer{
    margin-bottom: 0px;
    margin-top:20px;
    position: absolute;
    width:100%;
    left:0px;
    background-color: rgba(0, 0, 0, 0.1);
    height:100px;
}

.about-me-container{
    margin-top:30px;
    border: var(--border) solid 3px;
    border-radius: 10px;
    margin-inline: auto;
    width:60%;
    align-items: center;
    left:0px;
    background-color: #fffff8;
    padding:10px;
    z-index: -5;
    position: relative;
    padding-bottom: 25px;
    overflow-x: hidden;
}

.about-me-header{
    /* background-image: url(looper.png); */
    background-size: 5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #fffff8;
    height:80px;
    text-align: center;
    width:50%;
    box-sizing: border-box;

    border: var(--border) solid 3px;
    border-radius: 10px;
    filter:none;
    
    margin-bottom: 20px;
   
    line-height: 80px;
    font-family: "erbar";
    position: relative;
    
    font-size: 50px;
}

.about-me-header::after{
    content: "";
    width: 100vw;
    height:100%;
    /* border-radius: 10px; */
    left:-100%;
    background-image: url(looper.png);
    background-size: 5px;
    position:absolute;
    z-index: -1;
    top:0px;
    filter: opacity(0.3);
    
}

.inner-header{
    line-height: 80px;
    display: block;
    top:-2px;
    width:max-content;
    margin-left: auto;
    margin-right: auto;
    color: #393935;
    padding-inline: 10px;
    height:content;
    /* background-color: #eaeadd; */
    position: relative;
}

.about-me-inner{
    margin-left: auto;
    margin-right: auto;
    font-family: "erbar";
    font-size: 25px;
    max-width: 80%;
}

.about-me-inner a{
    color:red;
    cursor:pointer;
    position: relative;
    z-index: 2;
    
}

.about-me-inner .highlight{
    color:#025a89;
    font-weight: bold;
}

.about-me-inner .about-header{
    color:#025a89;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    position: relative;
    margin-inline: auto;
    
}

.council-container{
    /* background-color: red; */
    width:100%;
    display: flex;

    justify-content: space-between;

    gap:10px;
    margin-top:20px;
    margin-bottom: 20px;
    
}

.single-container{
    flex: 1;
    max-width: 160px;
    /* height:200px; */
    background-color: #f7f7e9;
    border: var(--border) 3px solid;
    border-radius: 10px;
    padding:10px;
    box-sizing: border-box;
}

.single-image{
    width:100%;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.3);
    aspect-ratio: 1/1;
    border-radius: inherit;
    background-image: url(looper.png);
    background-size: 5px;
    background-color: #a0a09c;
    position: relative;

    color: rgba(0, 0, 0, 0.6);
    font-family: "auxmono";
    vertical-align: middle;
    
    align-items: center;
    line-height: normal;

    
}

.single-image::after{
    color: rgba(0, 0, 0, 0.6);
    font-family: "auxmono";
    content: "Image Not Found";
    background-color: transparent;
    position: absolute;
    width:100%;
    height:100%;
    
    text-align: center;
    vertical-align:middle;
    white-space: wrap;
    border-radius: inherit;
    top:18px;
    
}

.single-name{
    margin-top: 12px;
    text-align: center;
    font-family: "auxmono";
    font-size: 20px;
    margin-bottom: 3px;
}


.loc-icon{
    aspect-ratio: 1/1;
    width:1.1em;
    height:1.1em;
    margin-right: 5px;
    background-image: url("locicon.svg");
    background-size: contain;
}

.loc-icon.clock{
    background-image: url("clock-svgrepo-com.svg");
}

.loc-icon.icon-dropdown{
    margin-left: 10px;
    margin-right: -9px;
    background-position-y: 2.5px;
    transition: all 0.1s ease;
    background-image: url("dropdown-2.svg");
}

.loc-icon.icon-dropdown.openIcon{
    transform: scaleY(-1);
}

.test{
    display: flex;
    white-space: nowrap;
    position: absolute;
    left:10px;
    top:calc(100% + 10px);
    font-family: "auxmono";
    
    opacity: 0.5;
}


.test-right{
    display: flex;
    white-space: nowrap;
    position: absolute;
    right:20px;
    top:calc(100% + 10px);
    font-family: "auxmono";
    
    opacity: 0.5;
    z-index: -1;
}

.test-right em{
    text-decoration: underline;
}

.test em{
    text-decoration: underline;
}

.history{
    color:#0072b0;
    font-weight: bolder;
    text-decoration: underline;
}

/* .history{
    padding-inline:5px;
    border-radius: 10px;
    box-sizing: border-box;
    border: var(--border) 2px solid
}
.history:hover, .history:hover span{
    color:white;
    pointer-events: auto;
    border-radius: 10px;
    background-color: #0072b0;
    padding-inline:5px;
    border: none;
} */




.quick-widget-container{
    margin-top:20px;
    width:100%;
    height:230px;
    background-color: #fffff8;
    border-radius: 10px;
    border: var(--border) 3px solid;
    border-inline: var(--border) 12px groove;

    overflow: clip;

    box-sizing: border-box;

    position: relative;
}

.dest-container{
    width:80%;
    margin-inline: auto;
    display: flex;
    gap: 5px;
    padding:10px;
    flex-basis: auto;
    justify-content: space-between;
    transition: all 0.5s ease;
    position: relative;
    z-index: 10;
}

.dest-container .autocomplete .textarea{
    background-color: #f0f0e9;
}

.dest-container.swapped{
    
    transform: scaleX(-1)
}

.dest-container.swapped .widget-arrow{
    transform: rotate(180deg) scaleX(-1);
}

.dest-container.swapped .autocomplete{
    transform: scaleX(-1); 
    transition: all 0.5s ease;
}




.dest-background{
    width:100vw;
    height:50px;
    
    background-image: url(looper.png);
    background-size: 5px;
    position:absolute;
    top:13px;
    filter: opacity(0.3);
}

@media screen and (max-width: 1750px){
    .quick-widget-container{
        margin-top: 50px;
    }
}

.widget-arrow{
    
    background-image: url(Left_arrow.svg);
    background-size: contain;
    /* filter:invert(); */
    background-repeat:space;
    opacity: 0.7;
    height:35px;
    width:100%;
    top:10px;
    flex:0.8;
    transform: rotate(180deg);
    position: relative;
    transition: all 0.5s ease;
}

.widget-arrow:hover{
    opacity: 1;
    filter: drop-shadow(0 0 0.3rem rgba(0,0,0,0.15));
}


.destlabel{
    font-family: "auxmono";
    font-size: 20px;
    position: absolute;
    top:74px;
}

.destlabel.label-left{
    margin-left:  135px;
}

.destlabel.label-left::before{
    content: "";
    background-color: #0072b0;
    width:1em;
    height:1em;
    right:90px;
    border-radius: 100%;
    position: absolute;
}

.destlabel.label-right{
    margin-right:135px;
    right:0px;
}


.destlabel.label-right::before{
    content: "";
    background-color: #b00000;
    width:1em;
    height:1em;
    right:-25px;
    border-radius: 100%;
    position: absolute;
}